<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aries.demo.service">

    <application>

        <!-- android:exported表示组件能否被跨进程调用 -->
        <service
            android:name=".MyIntentService"
            android:exported="false" />
        <service
            android:name=".aidl.MyService"
            android:process=":aidl" />

        <activity android:name=".BookManagerActivity" />

        <service
            android:name=".messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":messenger" />

        <provider
            android:name=".contentProvider.BookContentProvider"
            android:authorities="com.aries.demo.service.bookProvider"
            android:process=":provider" />

        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".contentProvider.ProviderActivity" />
    </application>

</manifest>