<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arise.demo.nestedscrolling">

    <application android:theme="@style/Theme.AppCompat">
        <activity android:name=".activities.NestedScrollingActivity1" />
        <activity android:name=".activities.NestedScrollingActivity2" />
        <activity android:name=".activities.HeadRecyclerViewActivity" />
        <activity android:name=".activities.ZoomHeadActivity" />
        <activity android:name=".NestedScrollingMainActivity" />
    </application>

</manifest>