<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aries.sdk.recyclerview">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".sticky.StickyActivity" />
        <activity android:name=".grid.GridActivity"></activity>
    </application>

</manifest>